body
{
	background-color: white;	
}
ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;	
}
li 
{
	float: left;	
}
a:link,a:visited
{
	display: inline;
	width: 120px;	
	font-weight: bold;
	color: #ee5436;
		background-color: #181818;
	text-align: center;
	padding: 4px;
	text-decoration: none;	
}
a:hover,a:active
{
	background-color: #333333;
	color: red;
}
#menu
{
	width: 100%;
	background-color: #181818;
	margin: 0px;
	padding:7px;
}
form
{
	background-color: white;
}
.label
{
	padding:0.5%;
}
.editor
{
    padding:0.25%;	
}
#header
{
   width:100%;	
   height:54px; 
   background-color:#ee6336;
   margin: none;
   padding: none;
   color:white;
   font-weight: bold;
   font-size: 46px;
}
#footer
{   
   bottom: 0px;
   width:100%;	
   height:50px;    
   margin: 30% 0% 0% 0%;
   background-color: black;
   padding-bottom: 0%;
   padding: none;
   color:white;
   font-weight: bold;
   font-size: medium;
   text-align: center;
}
#account
{
	background-color: #336699;	
}
fieldset
{
	margin-top: 2%;
	background-color: white;
	padding: none;
	border-color: #EBF0F5;	
}